@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;

}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 50px;
    box-shadow: -11px 7px 45px -6px rgba(0,0,0,0.52)
}

nav ul{
    list-style: none;
    display: flex;
}

nav img{
    height: 25px;
}

nav span{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 45%;
}

.primary-links{
    width: 80%;
    justify-content: space-between;
    margin-left: 20px;
}

.secondary-links{
    width: 35%;
    justify-content: space-between;
}

#menu , #cart{
    display: none;
}

/* Responsive */

@media(max-width : 768px){

    .primary-links , .secondary-links{
        display: none;
    }

    #menu , #cart{
        display: block;
    }
    

    nav span{
        justify-content: center;
    }
    


}